@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-display: swap;
    font-style: light;
    src: url('/fonts/Lato-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    src: url('/fonts/Lato-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-display: swap;
    font-style: italic;
    src: url('/fonts/Lato-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Lato-Bold.woff2') format('woff2');
}

/* Lora */
@font-face {
    font-family: 'Lora';
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    src: url('/fonts/Lora-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Lora-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Lora-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lora';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Lora-Bold.woff2') format('woff2');
}

/* Days One */
@font-face {
    font-family: 'Days One';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/DaysOne-Regular.woff2') format('woff2');
}
